<div id="body-class" style="display: none;" class="{{body_class}}"></div>

<footer id="footer">
    <div class="inner">
        <section class="credits">
            <span class="credits-theme">Theme <a href="https://github.com/postleaf/attila">Attila</a> by <a href="http://zutrinken.com" rel="nofollow">zutrinken</a></span>
            <span class="credits-software">Published with <a href="http://www.postleaf.org/">Postleaf</a></span>
        </section>
    </div>
</footer>
</section>

<script type="text/javascript" src="{{theme_url 'assets/js/libs.js'}}"></script>
<script type="text/javascript" src="{{theme_url 'assets/js/script.js'}}"></script>

{{postleaf_foot}}

</body>
</html>