{{!-- Includes partials/header.hbs --}}
{{> header}}

<article class="{{post_class}}">

  <h1 class="post-title">Not Found</h1>

  <section class="post-content">
    The page you requested could not be found.
  </section>

</article>

{{!-- Includes partials/footer.hbs --}}
{{> footer}}
