{{!-- The tag below includes the header - partials/header.hbs --}}
{{> header}}

{{#post}}

<div id="main-content" role="main" class="pure-g-r">
    <aside id="main-sidebar" class="pure-u-1-2"{{#if @settings.cover}} style="background-image:url({{url @settings.cover}})"{{/if}}>
        {{> aside}}
    </aside>

    <section id="main" class="pure-u-1-2">
        <article class="post">
            <header class="post-header">
                <h1>{{title editable="true"}}</h1>
                {{> post-meta}}
            </header>
            <div class="post-content">
                {{content editable="true"}}
            </div>
        </article>
    </section>
</div>

{{/post}}

{{!-- The tag below includes the footer - partials/footer.hbs --}}
{{> footer}}